#define APSTUDIO_READONLY_SYMBOLS 
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS 
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS) 
LANGUAGE 4, 2
#ifdef APSTUDIO_INVOKED 
1 TEXTINCLUDE 
BEGIN 
END 
 
2 TEXTINCLUDE 
BEGIN 
    "#include ""winres.h""\r\n"
    "\0" 
END 
3 TEXTINCLUDE  
BEGIN 
    "\r\n" 
    "\0" 
END 
#endif 
 
VS_VERSION_INFO VERSIONINFO 
 FILEVERSION 1,0,2
 PRODUCTVERSION 1,0,2
 FILEFLAGSMASK 0x3fL 
#ifdef _DEBUG 
 FILEFLAGS 0x1L 
#else 
 FILEFLAGS 0x0L 
#endif 
 FILEOS 0x40004L 
 FILETYPE 0x2L 
 FILESUBTYPE 0x0L 
BEGIN 
    BLOCK "StringFileInfo" 
    BEGIN 
        BLOCK "080404b0" 
        BEGIN 
            VALUE "CompanyName", "" 
            VALUE "FileVersion", "1.0.2" 
            VALUE "InternalName", "Excel Dll" 
            VALUE "LegalCopyright", "" 
            VALUE "OriginalFilename", "Excel Dll" 
            VALUE "ProductName", " Excel文件操作库" 
            VALUE "ProductVersion", "1.0.2" 
            VALUE "FileDescription", " Excel文件操作库 1.0.2 " 
        END 
    END 
    BLOCK "VarFileInfo" 
    BEGIN 
        VALUE "Translation", 0x804, 1200 
    END 
END 
 
#endif 
#ifndef APSTUDIO_INVOKED 
#endif   
